<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
    <div><img src="/image/1cda3842c20fee3dd3de14a9adc1a43c.jpg"></div>
    <div><img src="/image/abstract-blur-food-truck.jpg"></div>
    <div><img src="/image/pexels-lisa-1279330.jpg"></div>
    
    <script src="/javascript/method.js"></script>
</body>

</html>